.navbar {
  font-family: 'Open Sans', sans-serif;
  background-color: #e8e8e8;
  /* position: absolute; */

  width: 100%;
  color: orchid;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 0.75rem;
  margin: auto;
}
.nav {
  display: inline-flex;
  color: #808080;
  text-align: left;
}
.nav ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.nav a {
  display: block;
  padding: 0 16px;
  line-height: inherit;
  cursor: pointer;
}
.nav__menu {
  line-height: 45px;
  font-weight: 700;
  text-transform: uppercase;
}
.nav__menu-item {
  display: inline-block;
  position: relative;
}
/* .nav__menu-item:hover {

} */
.nav__menu-item .nav__submenu {
  display: block;
}
.nav__submenu {
  font-weight: 300;
  text-transform: none;
  display: none;
  position: absolute;
  width: 180px;
  background-color: #808080;
  color: #e8e8e8;
  text-decoration: none;
}
.nav__submenu-item:hover {
  background-color: #666666;
  color: #000000;
  text-decoration: none;
}
.menuIcon {
  width: 25px;
  height: 5px;
  background-color: #808080;
}
