@import url('https://fonts.googleapis.com/css?family=Open+Sans:b');

.pledge{
	font-family: 'Open Sans', sans-serif;
	background-color: #234980;
	position: absolute;
	color: white;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: auto;
	font-size: 3rem;
}

.pledge-button{
	font-family: 'Open Sans', sans-serif;
	color: #234980;
	background-color: white;
	border: none;
	height: 3rem;
	width: 8rem;
	transition: 0.3s opacity ease;
	cursor: pointer;
	margin: auto;
	font-size: 1.5rem;
}

.pledge-button:hover{
	opacity: 0.6;
}