@import url('https://fonts.googleapis.com/css?family=Raleway');

.center{
	font-family: 'Raleway', sans-serif;
	background-color: #1abc9c;
	position: absolute;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}