@import url('https://fonts.googleapis.com/css?family=Open+Sans:b');

.VotingCard_image {
	width: 400px;
	height: 80px;
}

.VotingCard {
	font-family: 'Open Sans', sans-serif;
	width: 398px;
	font-size: 1rem;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	text-align: center;
	background-color: white;
	padding-bottom: .5rem;
}

.voting-button{
	font-family: 'Open Sans', sans-serif;
	height: 35px;
	background-color: white;
	border: .001rem solid #666666;
	color: #666666;
	width: 10rem;
	transition: 0.3s opacity ease;
	cursor: pointer;
	font-size: .5rem;
}

.voting-button:hover{
	opacity: 0.6;
	background-color: white;
}

.card{
	width: 500rem%;
}

.divider{
    width: .5rem;
    height:auto;
    display:inline-block;
}